/* Sistema de colores y temas Panorámica, creado por Akiru Ranbou. */
/* Panoramica es un sistema de temas creado por y para Tolossos */
:root {
    --hummingbird: #D0F9F8; /* fondo principal */
    --mischka: #D1D3DC; /* puede usarse como fondo secundario o bordes suaves */
    --aquamarine: #7af8f2; /* acento para botones o elementos interactivos */
    --cerulean: #04ADD7; /* header (fondo) */
    --spindle: #b2c4e8; /* alternativa para fondos suaves o tarjetas */
    --shuttlegray: #536070; /* texto principal */
    --graysuit: #b9bbcb; /* texto secundario o descripciones */
    --spray: #8ff2ef; /* hover o efectos sutiles */
    --danube: #6f9bcb; /* encabezado (títulos o secciones destacadas) */
    --amethyst: #A499BC; /* footer (fondo) */
    --westar: #DFDBD5; /* texto en header y footer */
    --snuff: #e0d8eb; /* fondo alternativo para bloques suaves */
    --pale-sky: #697286; /* texto menos importante o secundario */
    --pigeon-post: #ABBFDA; /* bordes o fondos suaves de elementos */
    --cadet-blue: #adaec2; /* fondo de tarjetas o contenedores */
    --periwinkle-gray: #CDD5EB; /* alternativa para encabezados o fondos sutiles */
}

/* Fuentes Importadas */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Fuente 1 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Fuente 2 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); /* Fuente 3 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Fuente 4 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* Fuente 5 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Fuente 6 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /* Fuente 7 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Fuente 8 */
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap'); /* Fuente 9 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); /* Fuente 10 */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); /* Fuente 11 */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap'); /* Fuente 12 */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Fuente 13 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); /* Fuente 14 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); /* Fuente 15 */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); /* Fuente 16 */
