<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tolossos - Calidad y Cultura Geek</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="warning-h1">Estamos en Mantenimiento</h1>
    </div>

    <div class="text-container">
        <p class="warning-p">Hola, querido usuario de Tolossos. Actualmente estamos realizando tareas de mantenimiento en el sitio para mejorar tu experiencia.</p>
        <p class="warning-p">Nuestro equipo está trabajando arduamente para que todo vuelva a funcionar lo más rápido posible.</p>
        <br>
        <p class="warning-p">Te pedimos disculpas por cualquier inconveniente que esto pueda causar. Sabemos que nos echas de menos, pero no te preocupes, pronto estaremos de vuelta, más rápidos, más frescos y más mágicos que nunca.</p>
        <p class="warning-p">¡Gracias por tu paciencia y comprensión! Estaremos listos para recibirte nuevamente muy pronto.</p>
        <p class="warning-p">¡Nos vemos en breve! ✨</p>
        <p class="warning-signature">Atentamente: El Equipo de Tolossos</p>

        <p class="warning-signature">Calidad Multimedia y Cultura Geek</p>
    </div>
    <div class="info-container">
        <h4 class="info-h4">&copy 2024-2025 Tolossos, Todos los derechos reservados</h4>
    </div>
</body>
</html>