.header {
  background-color: var(--cerulean);
  padding: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--westar);
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  cursor: default;
}

.navbar {
  background-color: var(--cerulean);
  padding: 0.5rem 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--westar);
}

.nav-links {
  display: flex;
  gap: 1.8rem;
}

.nav-links a {
  color: var(--westar);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--aquamarine);
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--aquamarine);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

@media (max-width: 760px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .nav-links a {
    font-size: 1.1rem;
  }
}
